[Unit]
Description={{serviceName}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
Restart=always
RestartSec=2
StartLimitInterval=0
Type=simple
ExecStart=~/prometheus/prometheus --storage.tsdb.path=/var/lib/prometheus/data/ --web.external-url=http://localhost:9090/prometheus

[Install]
WantedBy=multi-user.target
